.books_nav {
    background: #F9F9FA;
    margin-top: 27px;
    
    .books_nav_wrapper {
        margin: 0 auto;
        padding: 20px 0;
        max-width: 1110px;
        color: #A7A7A7;

        a:hover {
            background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        span {
            font-size: 18px;
            font-weight: 500;
            padding: 0 10px;
        }
    }
}

@media (max-width: 768px) {
    .books_nav {
        margin-top: 24px;
        .books_nav_wrapper {
            max-width: 640px;
        }
    }
}

@media (max-width: 320px) {
    .books_nav {
        margin-top: 8px;
        .books_nav_wrapper {
            max-width: 288px;
        }
    }
}