.wrapper {
    .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;

        span {
            padding-left: 6px;
            font-weight: 400;
            font-size: 14px;
            color: #A7A7A7;
        }
    }

    .reviews_title_border {
        width: 350px;
        height: 15px;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 16px;
    }

    .btn_wrapper {
        margin: 42px 0;
    }

    .review_btn {
        width: 350px;
        height: 52px;
        border: none;
        background: linear-gradient(233.73deg, #F83600 -16.08%, #F9D423 327.37%);
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .wrapper {
        .reviews_title_border {
            width: 310px;
        }
        .btn_wrapper {
            margin: 42px 0 48px;
        }
        .review_btn {
            width: 640px;
        }
    }
}

@media (max-width: 320px) {
    .wrapper {
        .reviews_title_border {
            width: 288px;
            height: 8px;
        }
        .btn_wrapper {
            margin: 20px 0;
        }

        .review_btn {
            width: 288px;
            height: 40px;
            font-size: 12px;
        }
    }
}